<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="driverClassName">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.provider_class">com.alibaba.druid.support.hibernate.DruidConnectionProvider</property>
		<!-- 连接信息 -->
		<property name="url">jdbc:mysql://localhost:3306/sanguo?useUnicode=true&amp;characterEncoding=UTF8</property>
		<property name="username">root</property>
		<property name="password">123456</property>
		
		<property name="hibernate.connection.pool.size">100</property>
		<property name="hibernate.hbm2ddl">update</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.generate_statistics">false</property>

		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize">1</property>
		<property name="minIdle">1</property>
		<property name="maxActive">20</property>

		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait">60000</property>

		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis">60000</property>

		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis">300000</property>


		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements">true</property>
		<property name="maxPoolPreparedStatementPerConnectionSize">20</property>

		<!-- 配置监控统计拦截的filters，去掉后监控界面sql无法统计 -->
		<property name="filters">stat</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- 显示sql语句 -->
		<property name="show_sql">true</property>


		<mapping resource="cfg/mapping/player.hbm.xml" />
		<mapping resource="cfg/mapping/miniplayer.hbm.xml" />
		<mapping resource="cfg/mapping/world.hbm.xml" />
		<mapping resource="cfg/mapping/arena.hbm.xml" />
		<mapping resource="cfg/mapping/top.hbm.xml" />
		<mapping resource="cfg/mapping/relation.hbm.xml" />
		<mapping resource="cfg/mapping/awards.hbm.xml" />
		<mapping resource="cfg/mapping/boss.hbm.xml" />
		<mapping resource="cfg/mapping/mail.hbm.xml" />
		<mapping resource="cfg/mapping/worldcompetition.hbm.xml" />
		<mapping resource="cfg/mapping/receipt.hbm.xml" />
		<mapping resource="cfg/mapping/league.hbm.xml" />
		<mapping resource="cfg/mapping/union.hbm.xml" />
		<mapping resource="cfg/mapping/Charge.hbm.xml" />
	</session-factory>

</hibernate-configuration>